<script type="text/javascript">
    function linkifyComments() {
        var comments = document.querySelectorAll('td.comment-cell');
        console.log('Running linkifyComments, found', comments.length, 'comments'); // Debugging log

        comments.forEach(function(comment) {
            var html = comment.innerHTML;
            var linkedHtml = html.replace(/(https?:\/\/\S+)/g, '<a href="$1" target="_blank">$1</a>');
            comment.innerHTML = linkedHtml;
        });
    }

    // document.addEventListener('DOMContentLoaded', function() {
    //     setTimeout(linkifyComments, 500); // Delay of 500 ms; adjust as needed
    // });
    function observeDOMChanges() {
        var targetNode = document.getElementById('history'); // Replace with the actual ID of the parent element

        if (!targetNode) {
            console.error('Target node for Mutation Observer not found');
            return;
        }

        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length) {
                    linkifyComments();
                }
            });
        });

        observer.observe(targetNode, { childList: true, subtree: true });
    }

    document.addEventListener('DOMContentLoaded', function() {
        observeDOMChanges();
    });

</script>
<footer id="footer">{{ text_footer }}<br/>{{ text_version }}<br><a href="https://nbembedded.com">nbembedded.com</a></footer></div>
</body></html>
