<script type="text/javascript">
    // Debounce function
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    // Linkify comments, only if not already done
    function linkifyComments() {
        var comments = document.querySelectorAll('td.comment-cell:not(.linkified)');

        comments.forEach(function(comment) {
            var html = comment.innerHTML;
            var linkedHtml = html.replace(/(https?:\/\/\S+)/g, '<a href="$1" target="_blank">$1</a>');
            comment.innerHTML = linkedHtml;
            comment.classList.add('linkified');
        });
    }

    // Colorfy order statuses, only if not already done
    function colorfyOrderStatuses() {
        var comments = document.querySelectorAll('td.order-status:not(.colorfied)');

        comments.forEach(function(comment) {
            var statusText = comment.textContent.trim();

            // Determine color based on order status
            var color;
            var fontWeight = 'normal'
            switch (statusText.toLowerCase()) {
                case 'new':
                    color = 'black';
                    fontWeight = 'bold';
                    break;
                case 'pack':
                    color = 'blue';
                    break;
                case 'despatched':
                    color = 'green';
                    break;
                case 'pending pickup':
                    color = 'orange';
                    fontWeight = 'bold';
                    break;
                case 'sent on account':
                    color = 'red';
                    break;
                default:
                    color = '';
            }

            // Apply the color and mark as colorfied
            comment.style.color = color;
            comment.style.fontWeight = fontWeight;
            comment.classList.add('colorfied');
        });
    }

    // Debounced version of linkifyComments
    var debouncedLinkifyComments = debounce(linkifyComments, 250);

    var debouncedColorfyOrderStatuses = debounce(colorfyOrderStatuses, 250);

    // Mutation Observer to observe changes in the DOM
    function observeDOMChanges() {
        var targetNode = document.getElementById('history');

        if (!targetNode) {
            return;
        }

        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length) {
                    debouncedLinkifyComments();
                }
            });
        });

        observer.observe(targetNode, { childList: true, subtree: true });
    }

    function updateCommentColors() {
        var targetNode = document.getElementById('form-order');

        if (!targetNode) {
            return;
        }

        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length) {
                    debouncedColorfyOrderStatuses();
                }
            });
        });

        observer.observe(targetNode, { childList: true, subtree: true });
    }

    // Start observing when DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        observeDOMChanges();
        updateCommentColors();
    });
</script>
<footer id="footer">{{ text_footer }}<br/>{{ text_version }}<br><a href="https://nbembedded.com">nbembedded.com</a></footer></div>
</body></html>
