<script>
    function linkifyComments() {
        var comments = document.querySelectorAll('td.comment-cell'); // Adjust the selector to target your comment cells

        comments.forEach(function(comment) {
            var html = comment.innerHTML;
            var linkedHtml = html.replace(/(https?:\/\/\S+)/g, '<a href="$1" target="_blank">$1</a>');
            comment.innerHTML = linkedHtml;
        });
    }

    function observeDOMChanges() {
        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length) {
                    linkifyComments();
                }
            });
        });

        observer.observe(document.body, { childList: true, subtree: true });
    }

    document.addEventListener('load', function() {
        observeDOMChanges();
    });
</script>

<footer id="footer">{{ text_footer }}<br/>{{ text_version }}<br><a href="https://nbembedded.com">nbembedded.com</a></footer></div>
</body></html>
