<script type="text/javascript">
    function linkifyComments() {
        var comments = document.querySelectorAll('td.comment-cell');
        console.log('Running linkifyComments, found', comments.length, 'comments'); // Debugging log

        comments.forEach(function(comment) {
            var html = comment.innerHTML;
            var linkedHtml = html.replace(/(https?:\/\/\S+)/g, '<a href="$1" target="_blank">$1</a>');
            comment.innerHTML = linkedHtml;
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOMContentLoaded'); // Debugging log
        linkifyComments(); // Try running immediately on DOMContentLoaded
    });
</script>
<footer id="footer">{{ text_footer }}<br/>{{ text_version }}<br><a href="https://nbembedded.com">nbembedded.com</a></footer></div>
</body></html>
